@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Tilt+Warp&display=swap");

.noto-emoji-1000 {
  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}
