* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container-svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
}

#svg {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  transform: scale(2);
  paint-order: stroke;
}

#stripes {
  opacity: 0.8;
}

.territoire {
  fill: #2a2a2a;
  transition: all 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}


.territoire:hover {
  mask: url(#patternOverlay);
  stroke: #999;
  stroke-width: 0.8;
  transform: scale(1.01);
  box-shadow: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.432));
}

#pays-background {
  fill: transparent;
  pointer-events: all;
}

.selected-territory {
  stroke: green;
  stroke-width: 1.5;
}

.attackable-territory {
  stroke: #ffffff;
  stroke-linecap: square;
  stroke-opacity: 0.9;
  stroke-width: 1;
  stroke-dasharray: 3;
  animation: dash 15s linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 20;
  }
}

.cards-container {
  position: fixed;
  transform: translateY(-50%);
  z-index: 10;
  bottom: 2em;
  left: 2em;
}

#card-button {
  perspective: 1000px;
}

#cards-img {
  max-width: 75px; /* Small button size */
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1),
    0 2px 4px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border: 2px solid #555;
}

#card-button:hover {
  transform: translateY(-5px) translateZ(10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15),
    0 6px 6px rgba(255, 255, 255, 0.2);
}

#card-button:active {
  transform: translateY(2px) translateZ(0);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(255, 255, 255, 0.2);
}

.card-layout {
  position: absolute;
  top: 50%;
  left: 100%;
  margin: 1em;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background: rgba(26, 34, 53, 0.8);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.cards-container:hover .card-layout {
  opacity: 1;
  visibility: visible;
}

.card-zoom:hover {
  z-index: 20;
  transform: scale(3);
}

#hud-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0em;
  right: 5em;
  left: 5em;
}

#hud-side {
  background-color: transparent;
  z-index: 100;
}

.side-player {
  display: flex;
  flex-direction: row-reverse;
}

.side-player-color {
  width: 2em;
  height: 3em;
  border-radius: 1em;
  margin: 5px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.259),
    inset 0 2px 2px rgba(255, 255, 255, 0.312);
}

.side-player-info {
  background-color: #062534;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 3em;
  color: white;
  border-radius: 1em;
  margin: 5px;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.259),
    inset 0 2px 2px rgba(255, 255, 255, 0.312);
}

.side-player-info-troops::before {
  content: url("../images/person-solid.svg");
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}

.side-player-info-territories::before {
  content: url("../images/location-dot-solid.svg");
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 5px;
  filter: brightness(0) invert(1);
}

#turn-hud {
  display: flex;
  flex-direction: row;
}

#turn-hub-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#turn-hub-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

#turn-hub-action-img {
  filter: brightness(0) invert(1);
  width: 60%;
}

#turn-hud-who-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

#turn-hud-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.259),
    inset 0 2px 2px rgba(255, 255, 255, 0.312);
}

#turn-hud-phase-bars {
  display: flex;
  flex-direction: row;
}

#turn-hud-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  border-radius: 1em;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.259),
    inset 0 2px 2px rgba(255, 255, 255, 0.312);
}

.turn-hud-phase-bar {
  width: 3em;
  height: 0.25em;
  background-color: gray;
  margin: 0.25em;
  border-radius: 1em;
}

#turn-hud-phase-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

#turn-hub-action-troops-count {
  font-weight: bold;
  position: absolute;
  z-index: 1000;
  color: black;
}

.pastille {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.259),
    inset 0 2px 2px rgba(255, 255, 255, 0.312);
}

#pastille-alaska {
  translate: 0em -1.5em;
}

#pastille-greenland {
  translate: 0.6em -2.2em;
}
#pastille-quebec {
  translate: -0.75em -0.3em;
}
#pastille-venezuela {
  translate: -1.5em -0.7em;
}
#pastille-ontario {
  translate: -0.5em -0.3em;
}
#pastille-alberta {
  translate: -0.3em -0.3em;
}
#pastille-westernUs {
  translate: -0.4em -0.47em;
}
#pastille-easternUs {
  translate: -1.2em -0.25em;
}
#pastille-northwestTerritory {
  translate: -1em 3.85em;
}
#pastille-centralAmerica {
  translate: -1.5em -1.65em;
}
#pastille-brazil {
  translate: 0.15em -1.2em;
}
#pastille-argentina {
  translate: -0.52em -1.4em;
}
#pastille-peru {
  translate: -0.25em 0em;
}
.svg-player1 {
  fill: #4ade80;
}
.svg-player2 {
  fill: #fb923c;
}
.svg-player3 {
  fill: #facc15;
}
.svg-player4 {
  fill: #a78bfa;
}
.svg-player5 {
  fill: #38bdf8;
}
.svg-player6 {
  fill: #f87171;
}
.background-player1 {
  background-color: #a2d863;
}
.background-player2 {
  background-color: #f27e38;
}
.background-player3 {
  background-color: #e8ae25;
}
.background-player4 {
  background-color: #714ca6;
}
.background-player5 {
  background-color: #40a0ee;
}
.background-player6 {
  background-color: #e74344;
}
