.popup {
  width: 10em;
  height: 10em;
  background-color: aqua;
}

.background-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
